body {
    margin: 0 auto;
    font-family: 'Open Sans';
    background-color: rgb(187, 187, 187);
  }
  h1, h3, a {
    font-family: 'Roboto Slab';
    text-shadow: 3px 3px 0px rgba(190, 190, 190, 0.5);
  }
  
  li, p {
    font-family: 'Open Sans';
  }
  
  .topnav {
    display: flex;
    float: left;
    overflow: hidden;
    background-color: gray;
  }
  
  .topnavright {
    display: flex;
    float: right;
    overflow: hidden;
    background-color: gray;
    }
  
  .topnav a {
    display: flex;
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 24px;
  }
  
  .topnavright a {
    display: flex;
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 24px;
    }
  
  .topnav a:hover {
    display: flex;
    float: left;  
    background-color: #ddd;
    color: black;
  }
  
  .topnavright a:hover {
    display: flex;
    float: right;
    background-color: #ddd;
    color: black;
    }
  
  .topnav a.active {
    display: flex;
    float: left;  
    background-color: whitesmoke;
    color: black;
  }
  
  .topnavright a.active {
    display: flex;
    float: right;
    background-color: whitesmoke;
    color: black;
    }
  
  
  .about {
    border: 5px solid whitesmoke;
    border-radius: 25px;
    padding: 50px;
    margin: 50px;
    text-align: left;
    background: rgb(66, 66, 66);
    color: ghostwhite;
    font-size: 24px;
  }
  
  .skills {
    border: 5px solid whitesmoke;
    border-radius: 25px;
    padding: 50px;
    margin: 50px;
    text-align: left;
    background: rgb(66, 66, 66);
    color: ghostwhite;
    font-size: 24px;
  }
  .work {
    width: 300px;
    border: 5px solid whitesmoke;
    border-radius: 25px;
    margin: 20px auto;
    text-align: left;
    background: rgb(66, 66, 66);
    color: ghostwhite;
    font-size: 24px;
  }
  footer {
    padding: 20px;
    text-align: left;
    background-color: gray;
    border: 4px solid black;
    color: ghostwhite;
    font-size: 16px;
  }
  
  header {
    height: 72px;
    background-color:rgb(0, 0, 0);
    border: 4px solid whitesmoke;
    position: sticky;
    top: 0;
    box-shadow: 0px 3px 4px 4px #333333;
  }
  
  .right {
    padding-top: 50px;
    padding-right: 50px;
  }
  
  img {
    float: right;
    padding-top: 25px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 25px;
  }

  #categoryGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: inherit;
  }
 