body {
    margin: 0 auto;
    font-family: 'Open Sans';
    background-color: #bbbbbb;
  }
  h1, h3, a {
    font-family: 'Roboto Slab';
    text-shadow: 3px 3px 0px rgba(190, 190, 190, 0.5);
  }
  
  li, p {
    font-family: 'Open Sans';
  }

  .topnav {
    display: flex;
    float: left;
    overflow: hidden;
    background-color: #808080;
  }
  
  .topnavright {
    display: flex;
    float: right;
    overflow: hidden;
    background-color: #808080;
    }
  
  .topnav a {
    display: flex;
    float: left;
    color: #f5f5f5;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 24px;
  }
  
  .topnavright a {
    display: flex;
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 24px;
    }
  
  .topnav a:hover {
    display: flex;
    float: left;  
    background-color: #ddd;
    color: black;
  }
  
  .topnavright a:hover {
    display: flex;
    float: right;
    background-color: #ddd;
    color: black;
    }
  
  .topnav a.active {
    display: flex;
    float: left;  
    background-color: #f5f5f5;
    color: black;
  }
  
  .topnavright a.active {
    display: flex;
    float: right;
    background-color: #f5f5f5;
    color: black;
    }
  
  
  .container {
    border: 5px solid #f5f5f5;
    border-radius: 25px;
    padding: 50px;
    margin: 50px;
    text-align: left;
    background: #424242;
    color: #f8f8ff;
    font-size: 24px;
  }
  
  .skills {
    border: 5px solid #f5f5f5;
    border-radius: 25px;
    padding: 50px;
    margin: 50px;
    text-align: left;
    background: #424242;
    color: #f8f8ff;
    font-size: 24px;
  }
  .work {
    width: 300px;
    border: 5px solid #f5f5f5;
    border-radius: 25px;
    margin: 50px;
    text-align: left;
    background:#424242;
    color: #f8f8ff;
    font-size: 24px;
  }
  footer {
    padding: 20px;
    text-align: left;
    background-color: gray;
    border: 4px solid black;
    color: #f8f8ff;
    font-size: 16px;
  }
  
  header {
    height: 72px;
    background-color:rgb(0, 0, 0);
    border: 4px solid #f5f5f5;
    position: sticky;
    top: 0;
    box-shadow: 0px 3px 4px 4px #333333;
  }
  
  .right {
    padding-top: 50px;
    padding-right: 50px;
  }
  
  img {
    float: right;
    padding-top: 25px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 25px;
  }

  .work-grid-container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 1fr;
    grid-template-areas: 'writing writing1 writing2';
    background-color: transparent;
    align-content: center;
    padding: 50px;
  }
  .grid-item-text {
    grid-area: writing;
    border: 5px solid #f5f5f5;
    border-radius: 10px;
    padding: 25px;
    margin: 25px;
    text-align: left;
    background: #424242;
    color: #f8f8ff;
    font-size: 24px;
  }
  .grid-item-text-1 {
    grid-area: writing1;
    border: 5px solid #f5f5f5;
    border-radius: 10px;
    padding: 25px;
    margin: 25px;
    text-align: left;
    background: #424242;
    color: #f8f8ff;
    font-size: 24px;
  }
  .grid-item-text-2 {
    grid-area: writing2;
    border: 5px solid #f5f5f5;
    border-radius: 10px;
    padding: 25px;
    margin: 25px;
    text-align: left;
    background: #424242;
    color: #f8f8ff;
    font-size: 24px;
  }  
  

/* contact form  */  

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical horizontal;
}

input[type=submit] {
  background-color: #808080;
  color: white;
  padding: 12px 20px;
  border: 2px solid #f5f5f5;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 3px 4px 4px #333333;
}

input[type=submit]:hover {
  background-color: #ddd;
  color: black;
  border: 2px solid #000000;
  box-shadow: 0px 3px 4px 4px #333333;
}

label {
  font-family: 'Roboto Slab';
  text-shadow: 3px 3px 0px rgba(190, 190, 190, 0.5);
}




  /* Hero Image CSS */

